<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="com.nxt.selenium.class1"/>
      <class name="com.nxt.selenium.class2"/>
      <class name="com.nxt.selenium.class3"/>
      <class name="com.nxt.selenium.class4"/>
      <class name="com.nxt.selenium.class5"/>
      <class name="com.nxt.selenium.class6"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
